<form [formGroup]="emp1" (ngSubmit)="onaddemployee()">
    <h2>Employee Data</h2>
    <div>
        <input type="text" formControlName="Name1" placeholder="Enter Name">
    </div>
    <div>
        <input type="number" formControlName="Age1" placeholder="Enter Age">
    </div>
    <div>
        <input type="text" formControlName="Dob1" placeholder="Enter DOB">
    </div>
    <div>
        <input type="text" formControlName="Email1" placeholder="Enter Email">
    </div>
    <div>
        <input type="text" formControlName="Contact1" placeholder="Enter Contact No.">
    </div>
    <div>
        <input type="text" formControlName="Location1" placeholder="Enter Location">
    </div><br>
    <button type="submit">Add Employee</button>
</form>
<br>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>DOB</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Location</th>
    </tr>
    <tr *ngFor="let data of mongdata1">
        <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.dob}}</td>
        <td>{{data.email}}</td>
        <td>{{data.contact}}</td>
        <td>{{data.location}}</td>
    </tr>
</table>


